<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Assem1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.9389E-18 0 0.5"
        rpy="0 0 0" />
      <mass
        value="0.5" />
      <inertia
        ixx="0.58215"
        ixy="4.941E-20"
        ixz="-3.3881E-19"
        iyy="0.58215"
        iyz="-7.228E-18"
        izz="0.007665" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes\base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes\base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="mass_Link">
    <inertial>
      <origin
        xyz="0 0 -0.011641"
        rpy="0 0 0" />
      <mass
        value="1.5" />
      <inertia
        ixx="0.018215"
        ixy="1.4637E-35"
        ixz="-1.8876E-34"
        iyy="0.018215"
        iyz="-4.4669E-35"
        izz="0.017293" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes\mass_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes\mass_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mass_joint"
    type="prismatic">
    <origin
      xyz="0 0 1.1"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="mass_Link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>